# Application
# Server Configuration (NestJS)
SUDA_DATABASE_URL=

# Client Configuration

# Logger
LOG_REQUEST_BODY=true
LOG_RESPONSE_BODY=true

# 飞书应用集成配置
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_BITABLE_APP_TOKEN=
